body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  height: 600px;
  background-color: white;
}

.toptitle {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px 40px 5px;
  background-color: yellow;
  font-weight: bolder;
}

.secondtitle {
  padding: 40px 5px 20px 5px;
  background-color: white;
  font-weight: bolder;
}

.searchline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  position: absolute;
  top: 70px;
  left: 35px;
}
.searchline span {
  margin-left: 15px;
  margin-right: 15px;
}
.searchline i {
  margin-right: 15px;
}

.bookoftheday {
  display: flex;
  margin-bottom: 20px;
}

.bookoftheday__icon {
  background-color: blueviolet;
  border-radius: 10px;
  width: 100px;
  height: 150px;
}

.bookoftheday__icon img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

.bookoftheday__detail {
  background-color: white;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 10px;
  padding-right: 10px;
}

.bookoftheday__detail__title {
  font-size: 20px;
  font-weight: bolder;
}

.bookoftheday__detail__button {
  display: flex;
  justify-content: space-evenly;
}

.bookoftheday__detail__button input {
  font: black;
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bookoftheday__detail__buying {
  display: flex;
  justify-content: space-between;
}

.bookoftheday__detail__buying__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: yellow;
}

.bookoftheday__detail__buying input {
  background-color: black;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: white;
}

.top_adventures_title {
  font-weight: bolder;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top_adventures {
  display: flex;
  background-color: white;
}

.top_adventures_items {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.top_adventures__icon {
  width: 85px;
  height: 100px;
  border-radius: 10px;
}

.popular_authers_title {
  font-weight: bolder;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popular_authers {
  display: flex;
  background-color: white;
}

.popular_authers__icon img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.popular_authers__detail {
  padding: 5px;
}

.popular_authers__detail :first-child {
  font-weight: bolder;
}
.popular_authers__detail :last-child {
  font-size: 5px;
}
