@keyframes pointsrotate {
  0% {
    transform: rotatez(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes barsscale {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(2);
  }
  40% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

body {
  display: flex;
  background-color: rgb(150, 228, 241);
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body div {
  display: flex;
  width: 100px;
  height: 70px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 228, 241);
}

.points div {
  background-color: coral;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
}

.bars div {
  background-color: rgb(80, 106, 255);
  width: 10px;
  height: 30px;
  margin: 5px;
}

.points {
  animation: pointsrotate 1s ease-in-out infinite;
}

.bars :nth-child(1) {
  animation: barsscale 2.5s ease-in-out infinite;
  animation-delay: 0s;
}

.bars :nth-child(2) {
  animation: barsscale 2.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

.bars :nth-child(3) {
  animation: barsscale 2.5s ease-in-out infinite;
  animation-delay: 1s;
}

.bars :nth-child(4) {
  animation: barsscale 2.5s ease-in-out infinite;
  animation-delay: 1.5s;
}

.bars :nth-child(5) {
  animation: barsscale 2.5s ease-in-out infinite;
  animation-delay: 2s;
}
