body {
  display: flex;
  background-color: brown;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body div {
  display: flex;
  width: 100px;
  height: 70px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.points div {
  background-color: coral;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
}

.bars div {
  background-color: rgb(80, 106, 255);
  width: 10px;
  height: 30px;
  margin: 5px;
}

.points {
  transform: rotatez(45deg);
}

.bars :nth-child(1) {
  transform: scaleY(2);
}
