body {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.sheet {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 250px;
  background-color: honeydew;
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.sheet1__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}

.sheet1__mainphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  justify-content: center;
}

.sheet1__mainphoto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px tomato;
}

.sheet1__maintitle {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.sheet1__type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 500;
}

.sheet1__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.sheet1__buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.sheet1__buttons__shuffle {
  background-color: black;
  color: white;
}

.sheet1__buttons__heart {
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: small;
}
.sheet1__buttons__heart span {
  margin-left: 10px;
}

.sheet1__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sheet1__songlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  width: 220px;
  height: 60px;
  border-radius: 15px;
}
.sheet1__songlist__photo img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.sheet1__songlist__titles__player {
  font-size: smaller;
}
.sheet1__songlist__titles__title {
  font-weight: bolder;
}

#thesong {
  box-shadow: 0px 0px 5px 0px rgb(148, 146, 146);
}

.sheet1__playcontrol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  bottom: 20px;
}

.sheet1__playcontrol__song {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  color: white;
  padding-left: 20px;
  width: 150px;
}

.sheet1__playcontrol__icons {
  color: white;
  width: 70px;
  padding-right: 10px;
}

.sheet2__mainphoto {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sheet2__mainphoto img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px tomato;
}

.sheet2__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheet2__detail__title {
  font-weight: bolder;
  font-size: x-large;
}

.sheet2__detail__player {
  font-size: smaller;
}

.sheet2__time {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  margin-top: 20px;
  padding: 0px 20px;
}

.sheet2__playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 10px;
  position: relative;
}

.sheet2__playbar__under {
  height: 4px;
  width: 200px;
  background-color: gray;
  border-radius: 2px;
}

.sheet2__playbar__over {
  position: absolute;
  left: 25px;
  height: 4px;
  width: 50px;
  background-color: black;
  border-radius: 2px;
}

.sheet2__playbar__dot {
  position: absolute;
  left: 70px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.sheet2__playicons {
  width: 250px;
  height: 150px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sheet2__playicons :nth-child(1) {
  color: gray;
}
.sheet2__playicons :nth-child(5) {
  color: gray;
}
